<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <meta name="viewport" content"width=device-width, initial-scale=1.0">
        <title> renepena </title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="css/pers.css">
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="containerss">
        <div class="navbar navbar-fixed-top ">
            <div class="navbar-inner">
                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-th-list"></span>
                    </a>                    
                    <div class="nav-collapse collapse">
                    <a class="brand" href="index.html"></a>
                        <ul class="nav">
                            <li> <a href="#">inicio</a> </li>
                            <li> <a href="#">acerca de mí</a> </li>
                            <li> <a href="#">blog</a> </li>
                            <li> <a href="#">contacto</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-unit">

        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <img src="img/me.jpg" class="img-polaroid">
                    <ul class="unstyled">  
                        <li class="nav-header">Información</li>                      
                        <li><i class="icon-envelope"></i><a href="mailto:rpena0391@gmail.com"> rpena0391@gmail.com</a></li>
                        <li><i class="icon-user"></i><a href="http://www.facebook.com/renepena91"> facebook</a></li>
                        <li><i class="icon-user"></i><a href="http://www.twitter.com/rpenav91"> twitter</a></li>
                        <li><i class="icon-user"></i><a href="http://www.instagram.com/rpenav91"> instagram</a></li>                        
                    </ul>                    
                    
                </div>
                <div class="span6">
                    <h2>Acerca de mí</h2>
                    <hr>
                    <p>
                        Hola mundo,  estás en el sitio de rene peña,  estudiante de la carrera de  ing. Sistemas computacionales, amante de la música y la programación, actualmente viviendo en Tegucigalpa, Honduras.
                    </p>
                    <p>
                        He trabajado en proyectos personales creando páginas web, he desarrollado portales virtuales para escuelas. Actualmente estoy en busca de nuevos retos, nuevos proyectos con los cuales pueda experimentar y compartir conocimiento.
                    </p>
                    <p>
                        Me gusta estar involucrado en actividades religiosas, pertenezco a la iglesia <a href="http://www.cead.org.hn">CEAD</a> donde asisto hace más de 16 años.
                    </p>
                    <hr>
                </div>
                <div class="span3">
                    <ul class="nav nav-list well">
                        <li class="nav-header">Proyectos Realizados</li>                        
                        <li><a target="_blank" href="http://www.academiacead.org">Academia de Música CEAD</a></li>
                        <li><a target="_blank" href="http://www.academiacead.org/registro">Sistema de Registro</a></li>
                        <li><a target="_blank" href="http://www.holageeks.com">Hola Geeks </a></li>
                        <li class="divider"></li>                        
                    </ul>                    
                </div>

            </div>

        </div>

</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>

    </body>
</html>
