

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 menu">   
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Complemento</b></td>
                    <td class="tdCenter"><b>Cantidad</b></td>
                    <td class="tdRight"><b>Precio</b></td>
                    <td></td>
                    <td>
                        <button 
                            class="btn btn-block" 
                            onclick="window.location.href='index.htm'">
                            enviar orden <i class="icon-chevron-right" />
                        </button>                        
                    </td>                    
                    <td>
                        <button 
                            class="btn btn-block btn-danger" 
                            ng-click="cart.clearItems()" 
                            ng-disabled="cart.getTotalCount() < 1" >
                            <i class="icon-trash icon-white" />cancelar orden
                        </button>                        
                    </td>
                </tr>
                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        No tiene productos seleccionados.
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.name}}</td>
                    <td class="tdCenter">
                      <div class="input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input
                            class="span3 text-center" type="tel" 
                            ng-model="item.quantity" 
                            ng-change="cart.saveItems()" />
                        <button 
                            class="btn btn-success" type="button" 
                            ng-disabled="item.quantity >= 1000"
                            ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
                        <button 
                            class="btn btn-inverse" type="button" 
                            ng-disabled="item.quantity <= 1"
                            ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
                      </div>
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency : "Lps. "}}</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
                            <i class="icon-remove" />
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency : "Lps. "}}</b></td>
                    <td></td><td><td />
                    
                </tr>
            </table>
        </div>

        <!-- buttons -->

    </div>
</div>
