body {
  padding-top: 50px;
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
